.faq-accordion{
    display:flex;
    flex-direction: column;
    justify-content: center;
    background-color: #242424;
    color: #fff;
}

.accordion{
    margin: 10px 30px;
}
.faq-accordion > h2{
    font-size: 70px;
    margin: 30px;
    font-family:'Times New Roman', Times, serif;
}
.faq-item{
    border-bottom: 1px solid #fff;
}
.faq-item p {
    font-size: 1rem;
    font-weight: normal;
}
.faq-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.faq-title>h3{
    font-size: 1.15rem;
    font-weight:normal;
}

.content{
    max-height: 0;
    overflow: hidden;
    transition: all 0.5s cubic-bezier(0,1,0,1);
    font-size: 18px;
}


.content.show{
    height: auto;
    max-height: 9999px;
    transition: all 0.5s cubic-bezier(0,1,0,1);
    font-size: 18px; 
}

@media screen and (max-width: 600px){
    .faq-accordion > h2{
        font-size: 50px;
    }

    .faq-title>h3{
        font-size: 1rem;
    }

    .faq-item p {
        font-size: 0.75rem;
    }
}