.singleBlog {
    display: flex;
    flex-direction: column;
    background-color: white;
    /* width: fit-content; */
  }

  .singleBlog__title p,
  .singleBlog__title h1,
  .singleBlog__title h2,
  .singleBlog__title h3,
  .singleBlog__title h4,
  .singleBlog__title h5,
  .singleBlog__title h6,
  .singleBlog__title li,
  .singleBlog__title strong {
    font-family: "Lato", sans-serif;
    font-size: 32px;
    font-weight: 600;
  }
  
  .singleBlog__title {
    margin: 0 auto;
    font-weight: 700 !important;
    text-align: center;
    padding-top: 20px;
    margin-bottom: 10px;
    color: var(--main-color);
    font-size: 50px !important;
    width: 86%;
    font-family: "Lato", sans-serif;
  }


  .inputTitle{
    border: none;
    outline: none;
    font-size: 36px;
    margin: 50px;
  }

  .inputContent{
    border: none;
    outline: none;
    font-size: 18px;
    resize: none;
    box-sizing: border-box;
    overflow: auto;
    width: 100%;
    height:20vw
  }

  .singleButton{
    color: white;
    background-color: green;
    display: flex;
    justify-content:flex-end;
    align-items: flex-end;
    align-content: flex-end;
    margin: 36px;
  }
  
  @media only screen and (max-width: 600px) {
    time {
      font-size: small;
      color: #aaa;
      padding: 10px 7%;
    }
    .singleBlog__body a {
      width: 100%;
      overflow: hidden;
    }
  
    strong > u {
      width: 50%;
      overflow: hidden;
    }
  
    .singleBlog__title {
      font-size: 46px;
    }
  }