.profileAbout{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    margin-top: 50px;
}

.aboutWrapper{
    display: flex;
    flex-direction: column;
}

.aboutContent{
    background-color: #dfdfdf;
    align-items: center;
    padding: 40px;
    text-align: center;
}

.aboutContent h3 {
    font-weight: normal;
    font-size: 1.15rem;
}

.aboutContent p {
    font-size: 0.9rem;
}

.aboutContent button {
    background-color: #dfdfdf;
    border: 0.5px solid #000;
    border-radius: 25px;
    color: #000;
}

.about-line {
    margin: 30px 0;
    border-bottom: 0.75 px solid #dfdfdf;
}

.DisplayAbout{
    /*display: flex;*/
    border-bottom: 0.75 px solid #dfdfdf;
}

.DisplayAbout button{
    background-color: #fff;
    border: 0.5px solid #000;
    border-radius: 25px;
    color: #000;
    margin: 8px;
}


.editingForm{
    display: flex;
    flex-direction: column;
    position: relative;
}

.editingForm textarea {
    border: none;
  outline: none; /* Remove the default focus outline */
  resize: none; /* Disable textarea resizing */
  width: 100%; 
  height: 100%;
  padding: 10px; /* Add padding for better appearance */
  font-size: 16px; /* Set the font size as needed */
  margin-bottom: 50px;
}

.editingForm button {
    background-color: #fff;
    border: 0.5px solid #000;
    border-radius: 25px;
    color: #000;
    margin: 8px;
}



.aboutFollowing span{
    cursor: pointer;
}

@media (max-width: 600px) {
    
    .DisplayAbout p {
        font-size: 1.1rem;
    }
    
}